<h2>Список пользователей</h2>
<form name="userForm" class="userForm" #userForm="ngForm">
  <input type="hidden" name="id" value="0" />
  <div class="form-group form-group--required">
    <label for="name">Имя:
      <span [hidden]="nameForm.valid || nameForm.touch" class="alert alert-danger alert--form-valid">Введите Имя</span>
    </label>
    <input class="form-control" id="name" name="name" [(ngModel)]="name" required autofocus #nameForm="ngModel" />
  </div>
  <div class="form-group">
    <label for="age">Возраст:</label>
    <input class="form-control" id="age" name="age" [(ngModel)]="age" />
  </div>
  <div class="panel-body">
    <button type="submit" class="userForm_btn btn btn-sm btn-success" (click)="saveUser(name, age); userForm.reset()"
      [disabled]="!userForm.form.valid">Сохранить</button>
    <a id="reset" class="userForm_btn btn btn-sm btn-warning" (click)="userForm.reset()">Сбросить</a>
    <div class="form-group select-num">
      <!-- <select class="form-control" name="itemsPerPage" id="itemsPerPage">
        <option>5</option>
        <option>10</option>
        <option>20</option>
      </select> -->
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
  </div>
</form>
<div class="alert alert-success alert--user" role="alert" [hidden]="!isVisible">
  <h4 class="alert-heading">Добавлен новый пользователь!</h4>
  <p>Имя: {{lastUserObj.name}}</p>
  <p class="mb-0">Возраст: {{lastUserObj.age}}</p>
</div>
<table class="table table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Имя</th>
      <th>возраст</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{user._id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td class="table_td-edit">
        <!-- <input type="button" value="Изменить" (click)="editUser(user)" class="table_btn btn btn-sm btn-default" /> -->
        <input type="button" value="Удалить" (click)="deleteUser(user)" class="table_btn btn btn-sm btn-danger" />
      </td>
    </tr>
  </tbody>
</table>
